nav, footer, h1, h2, h3, h4, h5, h6 {
    font-family: 'League Gothic', sans-serif;
}

nav {
    padding: 1em;
}

#title {
    display: inline;
    vertical-align: middle;
}

#logo {
    margin-right: 0.5em;
}

#hud {
    margin: 0 auto;
    width: 50%;
}

.flex {
    display: flex;
}

#band-menu, #impedance-plot {
    padding: 1em 4em 1em 0;
}

#bands label {
    padding-left: 0.5em;
}

footer {
    position: absolute;
    bottom: 0;
    right: 1em;
}
