nav, footer, h1, h2, h3, h4, h5, h6 {
    font-family: 'League Gothic', sans-serif;
}

nav {
    padding: 1em;
}

#title {
    display: inline;
    vertical-align: middle;
}

#title:hover img {
    transform: skew(10deg, 10deg);
}

#logo {
    margin-right: 0.5em;
}

#bands label {
    padding-left: 0.5em;
}

footer {
    position: absolute;
    bottom: 0;
    right: 1em;
}
