nav, footer, h1, h2, h3, h4, h5, h6 {
    font-family: 'League Gothic', sans-serif;
}

nav {
    padding: 2em 0 0 2em;
}

article {
    padding-top: 4em;
}

#bands label {
    font-size: 1.125vw;
    padding-left: 0.5em;
}

footer {
    padding-right: 1em;
}
